/* ---------body--------- */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins',sans-serif;
}

/* -----------nav-bar---------- */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 67px;
    background-color: rgb(18, 18, 62);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav ul{
    display: flex;
    justify-content: center;
}
 
nav ul li{
    list-style:none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(79, 79, 184);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* -webkit-animation: all 0.3s ease-in-out; */
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
}

/* --------------main------------- */

#lottiAnime{
    width: 100%;
    opacity: 0.8;
}

.left{
    font-size: 1.66rem;
}



main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 40px 9%;
}

.firstsec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0;
}

.firstsec div{
    width: 30%;
}

.leftsec{
    /* background-color: red; */
    font-size: 3rem;
}

.rightsec{
    /* background-color: red; */
    width: 28%;
    margin-right: 60px;
}

.leftsec div{
    width: 100%;
}

.rightsec div{
    
    margin: 25px 0;
}

.purple{
    color: rgb(141, 70, 207);
}

.secondsec{
    /* background-color: red; */
    max-width: 80vw;
    margin: auto;
}
/* --------about section---------- */

.about{
    /* background-color: red; */
    max-width: 80vw;
    margin: auto;
}

.about-text {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    color: #888;
}

.purpleAgain {
    color: blueviolet;
    font-weight: 600;
}

.aboutsec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6% 0;
    margin-top: 2%;
}

.rightsec{
    width: 100%;
    margin-left: 8%;
}




/* -------------skills-body----------- */



.words{
    font-size: large;
}

.html,.css,.Python,.Javascript,.dsa,.MachineLearning{
    flex-direction:row;
    border: 1px solid white;
    padding: 50px;
    background-color: rgb(31, 31, 48);
    /* border-radius: 10px; */
    /* box-shadow: blue 5px 5px; */
    width: 13%;
    text-align:center;
    transition: transform 0.4s, box-shadow 0.2s;
}

.html:hover,.css:hover,.Python:hover,.Javascript:hover,.dsa:hover,.MachineLearning:hover{
    transform: translateX(5px) translateY(5px);
    background-color: rgb(57, 57, 121);
}

.list1,.list2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding-top: 80px;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* .art{
    --s:300px;
    width: var(--s);
    aspect-ratio: 1;
    border-radius: 50%;
    margin: calc(-.14*var(--s));
    outline: var(--s) solid #bf938b;
    outline-offset: calc(var(--s)/-2);
    clip-path: inset(14.65% round 20px);
    transition: .7s;
    cursor: pointer;
}
.art:hover{
    outline-offset: 0;
} */

footer{
    background-color: #0e0e1a;
    height: 430px;
}


.btn{
    height: 30px;
    width: 75px;
    background-color:black;
    color: #ababab;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 33) 3px 3px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn:active{
    transform: translateX(3px) translateY(3px);
    box-shadow: rgb(0, 0, 33) 0 0;
}

/* ------footer-contact-------- */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: rgb(98, 98, 229);
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform o.5s;
}

.social-icons a:hover{
    color: blue;
    transform:translateY(-4px)
}

.contact-right form{
    width:80%;
}

form input, form textarea{
    width:100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: aliceblue;
    font-size: 18px;
    border-radius: 6px;
}

.row{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.copyright{
    margin-top: 20px;
    background-color:rgb(0, 0, 33);
    text-align: center;
}


/* ---------projects----- */

.maind{
    display:flex;
    justify-content:space-between;
    margin: 50px;
}

.fird,.secd,.thid{
    background-color: #0e0e1a;
    margin-left: 25px;
    object-fit: contain;
    transition: transform 0.7s;
}

.fird img,.secd img,.thid img{
    width: 100%;
    border-radius: 5px;
    border: 3px solid blue;
    height: 100%;
}

.fird:hover, .secd:hover, .thid:hover {
    transform: scale(1.1);
  }
  
.fird:active, .secd:active, .thid:active {
    transform: scale(0.9);
}


/* ------------Responsiveness------------ */

@media(max-width:900px){
    nav{
        /* flex-direction: column; */
        justify-content:space-around
    }
    .firstsec{
        flex-direction: column-reverse;
        margin-left: 10%;
    }
    .firstsec div{
        width: 50%;
    }
    .words{
        font-size: smaller;
        text-align: center;
        margin: 0 auto;
    }
    .list1,.list2{
        flex-direction: column;
        margin-left: 30%;
        justify-content:space-around;

    }
    .list2{
        padding-top: 0;
    }
    .html,.css,.Python,.Javascript,.dsa,.MachineLearning{
        margin-bottom: 15%;
        text-align:center;
        width: 35%;
    }
    .maind{
        flex-direction: column;
        width: 80%;
    }
    .fird,.secd,.thid{
        margin-bottom: 5%;
    }
    .hamburger{
        display: block;
        
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    nav ul{
        position: fixed;
        left:100%;
        top: 67px;
        height: 100vh;
        gap:40px;
        flex-direction: column;
        background-color: rgb(0, 0, 33);
        opacity: 0.9;
        width: 100%;
        text-align:center;
        transition: 0.3s;
    }

    nav ul li{
        margin-bottom: 20px;
        font-size: 2rem;
    }
    nav ul .tl{
        margin-bottom: 10%;
    }

    nav ul.active{
        left:0%;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);
    }

    nav ul li a:hover{
        text-decoration: none;
        font-size: 2.2rem;
        color: rgb(79, 79, 184);
    }
    
}

@media(max-width:470px){
    .leftsec{
        font-size: 2rem;
    }
    nav ul .tl{
        margin-bottom: 20%;
    }

}